@font-face {
    font-family: "Garamond";
    src: url("/font/EBGaramond08-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Garamond";
    src: url("/font/EBGaramond08-Italic.ttf") format("truetype");
    font-style: italic;
}

body {
    background-color: black;
    background-image: url("/bg.png");
    background-size: 400px;

    font-family: 'Garamond', serif;
    color: yellow;
}

body.animated-background {
    background-image: url("/bg.png");
    background-size: 400px;
    background-repeat: repeat;
    animation: shiftBackground 45s linear infinite;
}

@keyframes shiftBackground {
    from {
        background-position: 0 0; /* Start position */
    }
    to {
        background-position: 0px -400px; /* Shift position */
    }
}

img.game {
    max-width: 100%;
    border: 1px solid green;
}

div.content {
    margin: auto;
    text-align: center;
}

div.dialogue {
    background-color: black;
    color: white;
    border: 1px solid yellow;

    max-width: 600px;
    margin: auto;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    margin-top: 50px;
    vertical-align: middle;
}

div.dialogue i {
    color: yellow;
}

div.dialogue button {
    background-color: black;
    color: lightblue;
    border: 1px solid green;
    padding: 5px;
    border-radius: 3px;

}

div.dialogue button:hover {
    background-color: #303030;
    border: 1px solid lime;
    cursor: pointer;
}

div.text {
    display: inline-block;
}

img.icon {
    float: left;
}

div.image-wrapper {
    max-width: 1000px;
    border: 1px solid green;
    margin: auto;
    margin-top: 30px;
    left: 0;
    right: 0;
    position: relative;
}

svg {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    user-select: none;
    pointer-events: none;
}

div.title {
    padding-top: 100px;
    max-width: 500px;
}

div.title h1 {
    font-size: 50pt;
    text-shadow: 4px 2px 4px #ffff0033;
    margin: 15px;
}

div.title h1.super {
    font-size: 300pt;
    font-weight: bold;
    color: rgba(151, 0, 0, 0.1);
    animation: wobble 5s infinite;
    animation-direction: alternate-reverse;
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    top: 100px;
    z-index: -1;
}

@keyframes wobble {
    0% {
        filter: blur(5px);
        text-shadow: 4px 2px 4px #65ff6525, -2px -4px 0px #ff65ea25;
    }
    25% {
        text-shadow: 6px -3px 1px #65ff6525, 1px 5px 4px #ff65ea25;
    }
    50% {
        filter: blur(2px);
        text-shadow: 4px 4px 4px #65ff6525, -3px 3px 4px #ff65ea25;
    }
    60% {
        filter: blur(0px);
    }
    75% {
        text-shadow: -2px 1px 0px #65ff6525, 2px 2px 1px #ff65ea25;
    }
    85% {
        text-shadow: 4px 2px 4px #65ff6525, -2px 4px 4px #ff65ea25;
        filter: blur(5px);
    }
    100% {
        text-shadow: 4px 2px 4px #65ff6525, -2px -4px 0px #ff65ea25;
        filter: blur(5px);
    }
}

div.title h2 {
    font-size: 20pt;
    margin: 0;
    color: rgb(253, 255, 158);
    font-style: italic;
}

div.title a {
    display: block;
    padding: 5px;
    font-size: 25pt;
    padding: 10px;
    padding-inline: 20px;
    margin-top: 80px;
    background-color: black;
    border: 1px solid yellow;
    color: yellow;
    font-weight: bold;
    background-color: #3b3834;
    text-decoration: none;
}