@font-face {
    font-family: "Garamond";
    src: url("/font/EBGaramond08-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Garamond";
    src: url("/font/EBGaramond08-Italic.ttf") format("truetype");
    font-style: italic;
}

body {
    background-color: black;
    background-image: url("/bg.png");
    background-size: 400px;

    font-family: 'Garamond', serif;
    color: yellow;
}

body.animated-background {
    background-image: url("/bg.png");
    background-size: 400px;
    background-repeat: repeat;
    animation: shiftBackground 45s linear infinite;
}

@keyframes shiftBackground {
    from {
        background-position: 0 0; /* Start position */
    }
    to {
        background-position: 0px -400px; /* Shift position */
    }
}

img.game {
    max-width: 100%;
}

div.content {
    margin: auto;
    text-align: center;
}

div.controls {
    display: grid;
    grid-template-columns: 600px auto;
    max-width: 1000px;
    margin: auto;
    gap: 20px;
    left: 0;
    right: 0;
    margin-top: 20px;
}

div.inventory {
    border: 2px solid red;
    background-color: black;
}

div.items {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

img.item {
    width: 80px;
    filter: drop-shadow(5px 5px rgba(195, 195, 167, 0.362)) drop-shadow(0px 0px 2px rgb(255, 255, 255));
    cursor: pointer;
}

img.item:hover, img.item.selected {
    filter: drop-shadow(5px 5px rgba(255, 255, 156, 0.473)) drop-shadow(0px 0px 4px rgb(255, 255, 255));
}

img.item.selected {
    animation: selection-wave 0.5s infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

.can-use {
    animation: pulsate 2s infinite;
    animation-direction: alternate-reverse;
}

@keyframes pulsate {
    0% {
        filter: drop-shadow(0px 0px 6px rgba(255, 113, 201, 0.84));
    }

    50% {
        filter: drop-shadow(0px 0px 16px rgb(255, 145, 213));
    }

    100% {
        filter: drop-shadow(0px 0px 6px rgb(255, 113, 201));
    }
}

@keyframes selection-wave {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(2px, 1px);
    }

    50% {
        transform: translate(-1px, 3px);
    }

    75% {
        transform: translate(-2px, -1px);
    }

    100% {
        transform: translate(1px, 0px);
    }
}

div.inventory h3 {
    text-align: left;
    color: red;
    margin: 0;
    padding: 3px;
    padding-inline: 8px;
    font-weight: normal;
}

div.dialogue {
    background-color: black;
    color: white;
    border: 2px solid yellow;

    max-width: 600px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    vertical-align: middle;
}

div.dialogue.hidden * {
    display: none;
}

div.dialogue.hidden {
    border-color: rgb(106, 106, 0);
}

div.dialogue i {
    color: yellow;
}

div.dialogue div.btns {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

div.dialogue button {
    background-color: black;
    color: lightblue;
    border: 2px solid green;
    padding: 5px;
}

div.dialogue button:hover {
    background-color: #303030;
    border: 2px solid lime;
    cursor: pointer;
}

div.dialogue button.new-scene {
    border: 2px solid orange;
}

div.text {
    display: inline-block;
}

img.icon {
    float: left;
}

div.image-wrapper {
    max-width: 1000px;
    border: 2px solid green;
    margin: auto;
    margin-top: 30px;
    left: 0;
    right: 0;
    position: relative;
}

svg {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    user-select: none;
    pointer-events: none;
}

div.title {
    padding-top: 100px;
    max-width: 500px;
}

div.title h1 {
    font-size: 50pt;
    text-shadow: 4px 2px 4px #ffff0033;
    margin: 15px;
}

div.title h1.super {
    font-size: 300pt;
    font-weight: bold;
    color: rgba(151, 0, 0, 0.1);
    animation: wobble 5s infinite;
    animation-direction: alternate-reverse;
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    top: 100px;
    z-index: -1;
}

@keyframes wobble {
    0% {
        filter: blur(5px);
        text-shadow: 4px 2px 4px #65ff6525, -2px -4px 0px #ff65ea25;
    }
    25% {
        text-shadow: 6px -3px 1px #65ff6525, 1px 5px 4px #ff65ea25;
    }
    50% {
        filter: blur(2px);
        text-shadow: 4px 4px 4px #65ff6525, -3px 3px 4px #ff65ea25;
    }
    60% {
        filter: blur(0px);
    }
    75% {
        text-shadow: -2px 1px 0px #65ff6525, 2px 2px 1px #ff65ea25;
    }
    85% {
        text-shadow: 4px 2px 4px #65ff6525, -2px 4px 4px #ff65ea25;
        filter: blur(5px);
    }
    100% {
        text-shadow: 4px 2px 4px #65ff6525, -2px -4px 0px #ff65ea25;
        filter: blur(5px);
    }
}

div.title h2 {
    font-size: 20pt;
    margin: 0;
    color: rgb(253, 255, 158);
    font-style: italic;
}

div.title a {
    display: block;
    padding: 5px;
    font-size: 25pt;
    padding: 10px;
    padding-inline: 20px;
    margin-top: 80px;
    background-color: black;
    border: 1px solid yellow;
    color: yellow;
    font-weight: bold;
    background-color: #3b3834;
    text-decoration: none;
}